div {
  display:block;
  background-color:lightblue;
  
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font: normal bold 24px arial;
  margin:0;
}

body { margin:0 }
